#root {
  background-color: aliceblue;
}
.score, .top-score{
  color: black;
  font-size: large;
  text-align: center;
}
.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:1rem;
  padding-left: 3rem;
  padding-right: 3rem;

}
.card{
  background-color: #e6a3a3;
  border-radius: 2%;
  border: 1px black solid;
  max-width: 14rem;
  overflow: hidden;
  margin-bottom: 4rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}
.card:hover{
  transform:scale(1.05)
}
.card_img{
  object-fit: cover;
  height: 14rem;
  width: 14rem;

}
.card_p{
  padding:0.5rem;
  text-align: center;
  font-size:medium;
  color: #242424;
}